body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 8px;
}

#clicker-outer {
    width: 250px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#clicker {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    border: 1px solid rgb(190, 190, 190);

    display: flex;
    justify-content: center;
    align-items: center;

    color: gray;

    transition: border-width 0.1s ease-out;

    user-select: none;
}

#clicker:active{
    border-width: 5px;
}

.count {
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(190, 190, 190);

    border-radius: 15px;

    overflow: hidden;
}

#info-overlay {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(50,50,50,0.4);
}

.sidebar {
    border: 2px solid rgb(190, 190, 190);
    border-radius: 15px;

    padding: 12px;

    width: 120px;
    min-height: 300px;
    height: fit-content;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.item {
    margin: 6px;
    width: 90%;

    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding: 6px;

    text-align: center;
}